.question-summary {
  padding: 1.5rem 0;
}

.question-type {
  font-size: 0.875rem;
  font-weight: var(--font-weight-regular);
  color: var(--clr-text-secondary);
}

.question-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-block-start: 0.5rem;
}

.question-info .text-btn .anticon {
  font-size: 1.25rem;
}
