.content-page {
  padding: 7rem 0 3rem;
}

.tab-content {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 7rem 4rem 0 calc(var(--sidebar-width) + 4rem);
}

.unfinished-component {
  text-align: center;
}

.application-form {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.information-panel {
  padding: 2.5rem 2rem;
}

@media (max-width: 768px) {
  .content-page {
    padding-block-start: 4rem;
  }
  .tab-content {
    padding-inline: 2rem;
  }
}

@media (max-width: 480px) {
  .tab-content {
    padding-inline: 1rem;
  }

  .information-panel {
    padding: 1rem;
  }
}
