*,
::after,
::before {
  box-sizing: border-box;
}

a,
button,
input {
  color: inherit;
  font: inherit;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  padding: 0;
  margin: 0;
}

:root {
  --clr-text-primary: #000000;
  --clr-text-secondary: #979797;
  --clr-active-link: #1d4ed8;
  --clr-header: #d0f7fa;
  --clr-active-tab: #00635b;
  --clr-active-option: #9c4de2;
  --clr-success: #087b2f;
  --clr-danger: #a80000;
  --clr-disabled: #cccccc;
  --clr-background: #ffffff;
  --clr-divider: #c4c4c4;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-primary: 'Poppins', sans-serif;
  --font-secondary: 'Inter', sans-serif;
  --sidebar-width: 5.75rem;
}

body {
  font: var(--font-weight-semi-bold) 1.25rem / 1 var(--font-primary);
  color: var(--clr-text-primary);
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.burger-btn {
  background-color: transparent;
  border: none;
}

.danger {
  color: var(--clr-danger);
}

.text-btn {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0.5rem;
  padding: 0.25rem;
  font-size: 0.9375rem;
  border: none;
  background-color: transparent;
}

.text-btn .anticon {
  font-size: 1.5rem;
}

.submit-btn {
  background-color: var(--clr-success);
  color: #fff;
  padding: 0.25rem 0.75rem;
  border: none;
  border-radius: 0.25rem;
}

.ant-switch {
  transform: scaleX(-1);
  border: 1px solid var(--clr-disabled);
  height: 1.5rem;
  background-color: var(--clr-background);
}

.ant-switch:not(.ant-switch-disabled):hover {
  background-color: var(--clr-divider);
}

.separate-children > :not(:first-child, :last-child) {
  border-top: 1px solid var(--clr-divider);
}
